<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProjectManagementConnection" connectionString="Data Source=(localdb)\telerikdataaccess;attachdbfilename=|DataDirectory|ProjectManagement.mdf;Integrated Security=True;Connect Timeout=2;User Instance=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>